<template>
  <div class="flex flex-row space-x-4">
    <img src="../assets/images/icon-list.svg" alt="" />
    <h3 class="text-dark-slate-grey">
      <slot name="list"></slot>
    </h3>
  </div>
</template>
