<script setup>
import { onMounted, onUnmounted } from 'vue'
onMounted(() => (document.body.style.overflow = 'hidden'))
onUnmounted(() => (document.body.style.overflow = 'auto'))
const email = localStorage.getItem('email')
</script>

<template>
  <Teleport to="body">
    <div
      class="fixed left-0 top-0 z-[100] flex h-screen w-screen flex-col items-center justify-center bg-dark bg-opacity-70"
    >
      <div
        class="m-8 space-y-6 bg-white w-[21rem] h-[25rem] flex-col rounded-[2.25rem] px-8 py-6 md:w-[31.5rem] md:h-[31rem] md:space-y-12 md:py-12 md:px-16"
      >
        <img src="../assets/images/icon-success.svg" alt="success icon" />
        <div class="space-y-2 md:space-y-5">
          <h3 class="text-[2.5rem] leading-[2.5rem] text-dark-slate-grey font-bold">
            Thanks for subscribing!
          </h3>
          <p class="text-dark-slate-grey md:w-[23.5rem]">
            A confirmation email has been sent to <span class="font-bold">{{ email }}</span
            >. Please open it and click the button inside to confirm your subscription.
          </p>
        </div>
        <button
          @click="$emit('close-modal')"
          class="transition ease-in-out w-full text-white font-bold bg-dark-slate-grey h-14 rounded-lg hover:-translate-y-3 duration-300"
        >
          Dismiss Message
        </button>
      </div>
    </div>
  </Teleport>
</template>

<style>
button {
  font-feature-settings:
    'clig' off,
    'liga' off;
}
button:hover {
  background: var(--gradient-1, linear-gradient(225deg, #ff6a3a 0%, #ff527b 100%));
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
}
</style>
