<script setup>
import ListItem from './components/ListItem.vue'
import SuccessModal from './components/SuccessModal.vue'
import { ref } from 'vue'
import { ErrorMessage, Field, Form as VeeForm } from 'vee-validate'
import * as Yup from 'yup'

const schema = Yup.object().shape({
  email: Yup.string().required('Valid email required').email('Valid email required')
})
const successFulModal = ref(false)

function onSubmit(values) {
  localStorage.setItem('email', values.email)
  successFulModal.value = true
}
</script>

<template>
  <div class="font-Roboto text-base bg-white md:w-[58rem] md:h-[40rem] md:p-6 md:rounded-[2.25rem]">
    <div class="flex flex-col md:flex-row md:gap-x-10">
      <img src="./assets/images/illustration-sign-up-mobile.svg" alt="" class="md:hidden" />
      <img
        src="./assets/images/illustration-sign-up-desktop.svg"
        alt=""
        class="hidden md:block md:order-2"
      />
      <div class="my-10 mx-6 space-y-6 md:mt-[4.5rem] md:space-y-10">
        <h3 class="font-bold text-dark-slate-grey text-[2.5rem] md:text-[3.5rem]">Stay updated!</h3>
        <p class="text-dark-slate-grey">
          Join 60,000+ product managers receiving monthly updates on:
        </p>
        <div class="md:space-y-3">
          <ListItem>
            <template #list> Product discovery and building what matters </template>
          </ListItem>
          <ListItem>
            <template #list> Measuring to ensure updates are a success</template>
          </ListItem>
          <ListItem>
            <template #list>And much more!</template>
          </ListItem>
        </div>
        <div>
          <VeeForm
            @submit="onSubmit"
            :validation-schema="schema"
            v-slot="{ errors }"
            class="flex flex-col"
          >
            <div class="flex flex-row justify-between">
              <label for="email" class="text-dark-slate-grey text-xs font-bold"
                >Email address</label
              >
              <ErrorMessage name="email" class="text-tomato text-xs" />
            </div>

            <Field
              class="mt-2 pl-6 h-14 text-dark-slate-grey border border-light-grey rounded-lg focus:outline-none hover:border-dark-slate-grey"
              :class="{ 'bg-error border-tomato text-tomato': errors.email }"
              name="email"
              type="text"
              placeholder="email@company.com"
            />
            <button
              :disabled="Object.keys(errors).length !== 0"
              class="transition ease-in-out mt-6 h-14 text-white font-bold bg-dark-slate-grey rounded-lg disabled:cursor-not-allowed hover:-translate-y-3 duration-300"
            >
              Subscribe to monthly newsletter
            </button>
            <SuccessModal v-if="successFulModal" @close-modal="successFulModal = false" />
          </VeeForm>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped></style>
